<div id="instagram-slide" class="container-fluid span-height" ng-controller="InstagramCtrl" view-loaded="viewLoaded">
    <div class="row">
        <div class="col-xs-12">
            <div id="ig-carousel" class="carousel slide" data-ride="carousel">
                <div id="carousel-items" class="carousel-inner"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    function viewLoaded($scope) {
        
        var feed = new Instafeed({
            template: '<div class="item ig-item"><div class="col-xs-7"><img src="{{image}}" /></div><div class="col-xs-5 ig-item-caption"><div class="ig-item-caption">{{caption}}</div><h1>Fra @{{model.user.username}} på Instagram.</h1><h2>Tagg dine bilder med #sølvberget!</h2></div></div>',
            target: 'carousel-items',
            get: 'tagged',
            tagName: 'sølvberget',
            resolution: 'standard_resolution',
            links: false,
            limit: 20,
            clientId: '8cb0d60e537d4098b2c0f79194b2f82e',
            after: function () {

                delete $scope.lastError;

                $(".ig-item:first").addClass("active");

                $(".carousel").carousel({
                    interval: 10000
                });

            },
            error: function(msg) {

                console.log("insta error", msg);
                $scope.lastError = msg;
            },
            success: function(response) {
                var imagePerUserCount = {};

                for (var i = 0; i< response.data.length; i++) {
                    var username = response.data[i].user.username;
                    if (typeof $scope.blacklist !== "undefined" && $scope.blacklist.indexOf(username) > -1) {
                        // User is blacklisted, remove image
                        console.log("Removing blacklisted item by user: " + username);
                        response.data.splice(i, 1);
                    } else if (typeof $scope.whitelist !== "undefined" && $scope.whitelist.indexOf(username == -1)) {
                        // User is not blacklisted and not whitelisted. Treat as normal posting.
                        if (typeof imagePerUserCount[username] === "undefined") imagePerUserCount[username] = 0;
                        imagePerUserCount[username]++;

                        if (imagePerUserCount[username] > $scope.postThreshold) response.data.splice(i, 1);
                        console.log("removing image from user " + username + " because threshold amount reached");
                        console.log("Images by " + username + " : " + imagePerUserCount[username]);
                    }
                }

                // Limit to ten images like before.
                response.data = response.data.splice(0, 10);
                console.log(response.data);
            }
        });

        feed.run();
    }

</script>